.profileBox {
  padding: 20px 0;
}

.profileBox > hr {
  margin: 60px 0;
}

.updateDetailsForm {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  width: 500px;
  margin: 0 auto;
}

.updateDetailsForm > h2 {
  color: var(--color-grey);
}

.labelInputPair {
  display: flex;
  flex-direction: column;
}

.labelInputPair > label {
  color: #404040;
  padding: 5px 0;
}

.labelInputPair > input {
  background-color: #e8e8e8;
  padding: 10px;
  outline: none;
  border-radius: 8px;

  transition: border-bottom 180ms;
}

.labelInputPair > input:focus {
  border-bottom: 5px solid #6e4a8c;
}

.uploadPhotoBox {
  display: flex;
  flex-direction: row;
  align-items: end;
  column-gap: 30px;

  margin-top: 20px;
}

.uploadPhotoBox > img {
  width: 100px;
  border-radius: 50%;
}

.uploadPhotoBox > label {
  cursor: pointer;
  text-decoration: underline;
  color: #6e4a8c;
}

.uploadPhotoBox > input {
  /* visibility: hidden; */
  display: none;
}

.updateDetailsForm > button {
  background-color: #6e4a8c;
  margin-top: 20px;
}
