.reviewsBox {
  padding: 20px 0;
}

.reviewsBox > h2 {
  color: var(--color-grey);
  text-align: center;
  margin-bottom: 2rem;
}

.reviewFlex {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 20px 50px;
  width: 70%;
  margin: 0 auto;
}
