.allCoursesContainer {
  width: 70%;
  margin: 50px auto;
}

.allCoursesContainer > h1 {
  margin-bottom: 20px;
  text-align: center;
}

.coursesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
  justify-items: center;
  padding: 20px;
}
